<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<style>
    .input-icon {
        margin-right: 10px; /* Adjust the space between the icon and the input field */
        color: #777; /* Change the icon color as needed */
        font-size: 18px; /* Adjust the icon size */
    }
</style>
<div class="flash-messages">
  <% if flash[:error].present? %>
    <div class="p-4 rounded-md shadow-md mb-4 transform hover:scale-105 hover:rotate-2 transition-transform">
      <div class="flex justify-center">
        <div class="mr-3">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </div>
        <div class="text-left ml-14 text-red-700">
          <span class="text-lg font-semibold">Error!</span>
          <p class="text-sm mr-10"><%= flash[:error].html_safe %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="bg-green-50 p-8 shadow-md text-center rounded-3xl">
<h2 class="text-2xl text-green-500 font-bold mb-4 mr-14">Edit <%= resource_name.to_s.humanize %></h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

    <div class="text-left w-fit inline-block">

      <div class="mb-6 flex">
        <div class="relative w-full">
          <%= f.text_field :username, class: "input rounded-3xl w-full border-0 pl-10 bg-gray-200 focus:ring-1-black-300", autofocus: true, placeholder: "Username" %>
          <i class="absolute top-1/2 left-3 transform -translate-y-1/2 fas fa-user input-icon text-xs"></i>
        </div>
      </div>

      <div class="mb-6 flex">
        <div class="relative w-full">
          <%= f.text_field :name, class: "input rounded-3xl w-full border-0 pl-10 bg-gray-200", autofocus: true, placeholder: "Name" %>
          <i class="absolute top-1/2 left-3 transform -translate-y-1/2 fas fa-user input-icon text-xs"></i>
        </div>
      </div>

      <!-- Last Name Field with an Icon -->
      <div class="mb-6 flex">
        <div class="relative w-full">
          <%= f.text_field :lastName, class:"input rounded-3xl w-full border-0 pl-10 bg-gray-200", autofocus: true, placeholder: "Last Name" %>
          <i class="absolute top-1/2 left-3 transform -translate-y-1/2 fas fa-user input-icon text-xs"></i>
        </div>
      </div>

      <!-- Contact Number Field with an Icon -->
      <div class="mb-6 flex">
        <div class="relative w-full">
          <%= f.text_field :contact_number, class:"input rounded-3xl w-full border-0 pl-10 bg-gray-200", autofocus: true, placeholder: "Contact Number" %>
          <i class="absolute top-1/2 left-3 transform -translate-y-1/2 fas fa-phone input-icon text-xs"></i>
        </div>
      </div>

      <!-- Gender Radio Buttons with Icons -->
      <div class="radio-buttons ml-4 mb-6">
        <i class="fas fa-male input-icon text-2xl"></i>
        <%= f.radio_button :gender, 'Male', class: "input rounded-3xl", autofocus: true %>
        <%= label :gender_male, 'Male', class: "label" %>
        <i class="fas fa-female input-icon text-2xl ml-8"></i>
        <%= f.radio_button :gender, 'Female', class: "input rounded-3xl", autofocus: true %>
        <%= label :gender_female, 'Female', class: "label" %>
      </div>

      <!-- Date of Birth Field with an Icon -->
      <div class="mb-6 flex">
        <div class="relative w-full">
          <%= f.date_field :date_of_birth, class: "input rounded-3xl w-full border-0 py-2 pl-10 bg-gray-200", autofocus: true, placeholder: "Date of Birth" %>
          <i class="absolute top-1/2 left-3 transform -translate-y-1/2 fas fa-calendar-alt input-icon text-xs"></i>
        </div>
      </div>

      <!-- Image Upload Field with an Icon -->
      <div class="mb-6 flex">
        <div class="relative w-full">
          <%= f.file_field :image, class:"input rounded-3xl w-full border-0 py-2 pl-10 bg-gray-200", accept: 'image/png, image/jpeg, image/jpg', autofocus: true %>
          <i class="absolute top-1/2 left-3 transform -translate-y-1/2 fas fa-image input-icon text-xs"></i>
        </div>
      </div>

      <!-- Email Field with an Icon -->
      <div class="mb-6 flex">
        <div class="relative w-full">
          <%= f.email_field :email, class: "input rounded-3xl w-full border-0 py-2 pl-10 bg-gray-200", autofocus: true, placeholder: "Email" %>
          <i class="absolute top-1/2 left-3 transform -translate-y-1/2 fas fa-envelope input-icon text-xs"></i>
        </div>
      </div>

      <!-- Password Field with an Icon -->
      <div class="mb-4">
        <% if @minimum_password_length %>
          <em class="ml-6">Password <%= @minimum_password_length %> characters minimum</em>
        <% end %><br />
      </div>
      <div class="mb-6 flex">
        <div class="relative w-full">
          <%= f.password_field :password,class: "input rounded-3xl w-full border-0 pl-10 bg-gray-200", placeholder: "New Password" %>
          <i class="absolute top-1/2 left-3 transform -translate-y-1/2 fas fa-lock input-icon text-xs"></i>
        </div>
      </div>

      <!-- Password Confirmation Field with an Icon -->
      <div class="mb-8 flex">
        <div class="relative w-full">
          <%= f.password_field :password_confirmation, class: "input rounded-3xl w-full border-0 pl-10 bg-gray-200", placeholder: "Confirm Password" %>
          <i class="absolute top-1/2 left-3 transform -translate-y-1/2 fas fa-lock input-icon text-xs"></i>
        </div>
      </div>

      <div class="field">
        <%= f.label :current_password %> <i>Need your current password</i><br />
      </div>
      <div class="mb-4 flex">
        <div class="relative w-full">
          <%= f.password_field :current_password,  class: "input rounded-3xl w-full border-0 pl-10 bg-gray-200", placeholder: "Current Password" %>
          <i class="absolute top-1/2 left-3 transform -translate-y-1/2 fas fa-lock input-icon text-xs"></i>
        </div>
      </div>
      <div class="flex justify-center my-2 ">
        <%= f.submit "Update", class:"mr-5 py-3 px-4 text-md cursor-pointer tracking-wider rounded-3xl text-white font-semibold bg-green-500 hover:bg-green-700 "%>
        <%= link_to "Back", :back, class:"py-3 px-4 text-md cursor-pointer tracking-wider rounded-3xl text-white font-semibold bg-red-500 hover:bg-red-700   " %>
      </div>
<% end %>

<!--  <h3>Cancel my account</h3>-->

<!--  <div>Unhappy? <%#= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>-->
  </div>
</div>