<div class="bg-green-50 p-8 shadow-md text-center rounded-3xl">
  <h2 class="text-2xl font-bold mb-4 mr-14">Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="text-left inline-block">
    <div class="mb-4">
      <%= f.text_field :username, class: "input rounded-3xl", autofocus: true, placeholder: "Username" %>
    </div>

    <div class="mb-4">
      <%= f.text_field :name, class: "input rounded-3xl", autofocus: true, placeholder: "Name" %>
    </div>

    <div class="mb-4">
      <%= f.text_field :lastName, class: "input rounded-3xl", autofocus: true, placeholder: "Last Name" %>
    </div>

    <div class="mb-4">
<!--      <label for="contact_number" class="label">Contact Number</label><br />-->
      <%= f.text_field :contact_number, class: "input rounded-3xl", autofocus: true, placeholder: "contact number" %>
    </div>

    <div >
      <div class="radio-buttons mb-4">
        <%= f.radio_button :gender, 'Male', class: "input rounded-3xl", autofocus: true %>
        <%= label :gender_male, 'Male', class: "label" %>
        <%= f.radio_button :gender, 'Female', class: "input rounded-3xl", autofocus: true %>
        <%= label :gender_female, 'Female', class: "label" %>
      </div>
    </div>

    <div class="mb-4">
      <%= f.date_field :date_of_birth, class: "input rounded-3xl", autofocus: true, placeholder: "Date of Birth" %>
    </div>

    <div class="mb-4">
    <%= f.file_field :image, class: "input rounded-3xl", accept: 'image/png, image/jpeg, image/jpg', autofocus: true %>
    </div>

    <div class="mb-4">
      <%= f.email_field :email, class: "input rounded-3xl", autofocus: true, placeholder: "Email" %>
    </div>

    <div class="mb-4">
      <% if @minimum_password_length %>
        <em>Passwors <%= @minimum_password_length %> characters minimum</em>
      <% end %><br />
      <%= f.password_field :password, class: "input rounded-3xl", placeholder: "new-password" %>
    </div>

    <div class="mb-4">
      <%= f.password_field :password_confirmation, class: "input rounded-3xl", placeholder: "Confirm-password" %>
    </div>
    </div>
    <div class="actions mb-4">
      <button type="submit" class="bg-blue-500 text-white font-bold py-2 px-4 rounded cursor-pointer mr-14">Sign up</button>
    </div>
  <% end %>
  <p class="text-center text-gray-600">If you already have an account, <%= render "devise/shared/links" %></p>
</div>

