<!DOCTYPE html>
<html>
<head>
  <style>
      body {
          font-family: Arial, sans-serif;
          background-color: #f4f4f4;
      }

      .container {
          max-width: 400px;
          margin: 0 auto;
          padding: 20px;
          background-color: #fff;
          border-radius: 5px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          margin-top: 100px;
      }

      h2 {
          text-align: center;
      }

      .field {
          margin: 10px 0;
      }

      label {
          font-weight: bold;
      }

      input[type="text"],
      input[type="password"] {
          padding: 1px 2px;
          margin: 5px 0;
          border: 1px solid black;
          font-size: 14px;
      }

      input[type="checkbox"] {
          margin-right: 5px;
      }

      .actions {
          text-align: center;
      }

      input[type="submit"] {
          background-color: #007bff;
          color: #fff;
          padding: 8px 16px;
          border: none;
          border-radius: 5px;
          font-size: 18px;
          cursor: pointer;
      }

      .links {
          text-align: center;
          margin-top: 10px;
      }

      .links a {
          text-decoration: none;
          color: #007bff;
          margin: 0 10px;
      }
  </style>
</head>
<body>
<div class="container">
  <h2 style="text-align: center;color: blue"> LOGIN </h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="mb-6">
      <%= f.label :Username_or_Email, class:"label" %><br/>
      <%= f.text_field :login, autofocus: true, class: "input" %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
</body>
</html>