<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<style>
    .input-icon {
        margin-right: 10px; /* Adjust the space between the icon and the input field */
        color: #777; /* Change the icon color as needed */
        font-size: 18px; /* Adjust the icon size */
    }
</style>

<div class="bg-green-50 p-8 shadow-md  text-center rounded-3xl">
  <h2 class="text-2xl text-green-500 font-bold mb-4 mr-14">LOGIN</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="mb-6 flex justify-center">
      <div class="relative">
      <%= f.text_field :login,class: "input rounded-3xl w-full border-0 pl-10 bg-gray-200 focus:ring-1-black-300", autofocus: true, placeholder: "Username OR Email"%>
        <i class="absolute top-1/2 left-3 transform -translate-y-1/2 fas fa-user input-icon text-xs"></i>
      </div>
    </div>

    <div class="mb-6 flex justify-center">
      <div class="relative">
      <%= f.password_field :password, class: "input rounded-3xl w-full border-0 pl-10 bg-gray-200 focus:ring-1-black-300", placeholder: "Enter Your Password" %>
        <i class="absolute top-1/2 left-3 transform -translate-y-1/2 fas fa-lock input-icon text-xs"></i>
      </div>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="remember_me">
          <%= f.check_box :remember_me, class: "mr-2 leading-tight" %>
          Remember Me
        </label>
      </div>
    <% end %>
  <%#= render "devise/shared/links" %>
    <div class="text-center actions ">
      <%= f.submit "Log in", class: "mb-6 text-md cursor-pointer tracking-wider rounded-3xl border-solid text-white font-semibold bg-green-500 hover:bg-green-700 py-1 px-6" %>
      <p class="text-center text-gray-600 text-sm ml-6">Dont't have an account? <%= render "devise/shared/links" %></p>
    </div>
  <% end %>
</div>