<div class="text-left">
  <div class="bg-green-50 shadow-xl rounded-lg p-5 my-4">
    <% if @post.picture.attached? %>
        <%= image_tag @post.picture, class: "w-fit h-96 rounded-3xl"%><br/>
      <% end %>
    <div class="flex justify-between  ">
      <div class="flex">
        <div>
          <%= image_tag @post.user.image, class: "w-16 h-16 rounded-full mr-6" %>
        </div>
        <div class="flex-column items-left left-0">
          <div class="font-bold text-2xl">
            <%= "#{@post.user.name}  #{@post.user.lastName}"%>
          </div>
          <div>
            <%= time_ago_in_words(@post.created_at) %> ago
          </div>
        </div>
      </div>
      <div  class="dropdown inline-block  relative space-x-1">
        <div onclick ="toggleComment(event)" class="right-0 font-semibold py-3 px-1 rounded inline-flex cursor-pointer">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <g transform="rotate(90 12 12)">
              <circle cx="4" cy="12" r="3" fill="currentColor">
                <animate id="svgSpinners3DotsBounce0"
                         attributeName="cy"
                         begin="0;svgSpinners3DotsBounce1.end+0.25s"
                         calcMode="spline" dur="0.6s"
                         keySplines=".33,.66,.66,1;.33,0,.66,.33"
                         values="12;6;12"
                  />
              </circle>
              <circle cx="12"
                      cy="12"
                      r="3"
                      fill="currentColor"
              >
                <animate attributeName="cy"
                         begin="svgSpinners3DotsBounce0.begin+0.1s"
                         calcMode="spline" dur="0.6s"
                         keySplines=".33,.66,.66,1;.33,0,.66,.33"
                         values="12;6;12"
                  />
              </circle>
              <circle cx="20"
                      cy="12"
                      r="3"
                      fill="currentColor"
              >
                <animate id="svgSpinners3DotsBounce1"
                         attributeName="cy"
                         begin="svgSpinners3DotsBounce0.begin+0.2s"
                         calcMode="spline"
                         dur="0.6s"
                         keySplines=".33,.66,.66,1;.33,0,.66,.33"
                         values="12;6;12"
                  />
              </circle>
            </g>
          </svg>
        </div>
        <% if can? :update, @post %>
          <ul id="postButton" class="mt-4 hidden absolute shadow-lg right-0 bg-green-50 ">
            <li>
            <%= link_to "Edit", edit_post_path(@post), class: "block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg" %>
            </li>
            <li>
              <%= link_to "Delete", post_path(@post), class: "block bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-lg", data: {
              turbo_method: :delete,
              turbo_confirm: "Are you sure?"
            } %>
            </li>
          </ul>
        <% end %>
      </div>
  </div>
    <h1 class="text-4xl font-bold text-black mb-3 mt-8 break-word"><%= @post.title %></h1>
    <p class="text-base text-black line-clamp-2"><%= @post.body %></p>

  </div>

  <div class="bg-green-50 shadow-xl rounded-lg p-5 my-5">
  <% if can? :create, Comment %>
      <h2 class="text-xl font-semibold mt-4">Add a comment:</h2>
      <%= render 'comments/form' %>
  <% end %>
  <div class="w-full m-1">
    <h2 class="m-9">All Comments</h2>
    <%= render @post.comments.reverse  %>
  </div>
</div>
</div>






<script>
    var postButton = document.getElementById("postButton" );

    // open/close the menu when the user clicks on the button
    function toggleComment(event) {
        if (postButton.classList.contains('hidden')) {
            postButton.classList.remove('hidden');
        } else {
            postButton.classList.add('hidden');
        }
        event.stopPropagation();
    }

    // close the menu when the user clicks outside of it
    window.onclick = function (event) {
        postButton.classList.add('hidden');
    }
</script>