
<!-- Navbar goes here -->
<nav class="bg-white shadow-lg sticky top-0 right-0 left-0 py-4  ">
  <div class="flex justify-between items-center mx-20">
    <div class="flex space-x-10">
      <div class="flex items-center py-4 float-left px-4 ">
          <%= link_to image_tag("pageLogo.png", alt:"Logo", class: "h-12 w-12 mr-2 rounded-full"), root_path %>
          <%= link_to "Social App",root_path, class:"font-semibold text-gray-500 text-xl"%>
      </div>
    </div>

    <div class="flex mx-10 space-x-10">
      <div class=" flex items-center space-x-4  ">
        <!--        buttons of the navbar-->
        <% if can? :create , Post %>
        <%= link_to "New Post", new_post_path, class:"py-4 px-6 text-slate-600 font-semibold "%>
        <% end %>
        <%= link_to "Posts", posts_path, class:"py-4 px-6 text-slate-600  font-semibold "%>
        <a href="" class="py-4 px-6 text-slate-600 font-semibold  transition duration-300">Services</a>
        <a href="" class="py-4 px-6 text-slate-600 font-semibold  transition duration-300">About</a>
        <a href="" class="py-4 px-6 text-slate-600 font-semibold  transition duration-300">Contact Us</a>
      </div>
      <% if !user_signed_in? %>
        <div class=" flex items-center space-x-4 " >
          <div class="bg-gray-200 rounded-lg">
            <%= link_to 'Sign in', new_user_session_path, class:"  py-2 px-4 block whitespace-no-wrap" %>
          </div>
          <div class="bg-gray-200 rounded-lg ">
            <%= link_to 'Sign up',new_user_registration_path, class:"py-2 px-4 block whitespace-no-wrap" %>
          </div>
        </div>
      <% else %>
      <!--      Drop Down menu    -->
        <div  class="dropdown inline-block  relative space-x-1">
          <button onclick ="toggleMenu()" class=" font-semibold py-3 px-1 rounded inline-flex items-center">
              <%= image_tag current_user.image, class: "h-12 w-12 rounded-full"  %>
          </button>
          <ul id="menu" class="rounded-lg px-10 py-10 absolute hidden shadow-lg  bg-gray-100 text-gray-700 pt-1 right-0 min-w-max ">
            <li class="flex bg-gray-200 items-center mt-8 rounded-lg">
                <%= link_to image_tag(current_user.image, class: "h-14 w-14 rounded-full center"), "profile", class: "px-4 py-2"  %>
                <%#= link_to "#{current_user.name}"+"\n"+ "#{current_user.email}", "profile", class: "rounded-t  py-2 px-4 block whitespace-no-wrap"  %>
                <div class="flex-column ">
                    <%= link_to "#{current_user.name}", "profile", class: "rounded-t  pt-4 block whitespace-no-wrap"  %>
                    <%= link_to "#{current_user.email}", "profile", class: "rounded-t pb-4 block whitespace-no-wrap"  %>
                </div>
                <%= link_to "&#8827;".html_safe, edit_user_registration_path, class: " text-1xl font-semibold py-7 px-5 pl-20 rounded-t block whitespace-no-wrap items-center"  %>
            </li>
            <li class="mt-10" align="center">
              <%= link_to 'Logout', destroy_user_session_path , data: { turbo_method: :delete }, class:"text-xl hover:border-transparent border rounded-lg border-solid border-red-500 hover:text-white text-red-500 font-semibold  hover:bg-red-500 mt-2 py-2 px-4 whitespace-no-wrap" %>
            </li>
          </ul>
        </div>
      <% end %>
    </div>
<!--      finish here       -->
  </div>
</nav>

<!-- Javascript code -->
<script>
    var menu = document.getElementById("menu");

    // open/close the menu when the user clicks on the button
    function toggleMenu() {
        if (menu.classList.contains('hidden')) {
            menu.classList.remove('hidden');
        } else {
            menu.classList.add('hidden');
        }
    }

    // close the menu when the user clicks outside of it
    window.onclick = function (event) {
        var dropdownWrapper = document.getElementById('dropdown-wrapper');
        if (!dropdownWrapper.contains(event.target) && !menu.classList.contains('hidden')) {
            menu.classList.add('hidden');
        }
    }
</script>

