<!DOCTYPE html>
<html>
  <head>
    <title>PracticeApp</title>

    <%= stylesheet_link_tag 'style.css' %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-white min-h-screen min-w-fit relative ">
    <div class="min-h-screen min-w-fit">
      <%= render "layouts/navbar" %>
      <div class="flex-column items-center px-4 min-h-80 mx-20">
        <div class="flex-column items-center p-4 w-full px-[25%] pt-[3%]">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
            <%= yield %>
        </div>
      </div>
      <%= render "layouts/footer" %>
    </div>
  </body>
</html>
