
<% u = current_user %>
<div class="flex-row bg-green-50 shadow-xl rounded-lg p-5 my-4 py-9 px-20">
  <div class="mb-4 mx-4">
    <p class="font-bold text-5xl mb-3 text-center"><%= u.username %>'s Profile<p>
  </div>
  <%= image_tag u.image, class:"h-[35rem] rounded-3xl mb-6 grow" %>
  <p class="font-semibold text-lg text-center my-2"> Profile Picture </p>
  <div class="flex items-center my-2">
    <p class="font-semibold text-lg text-left mr-2"> First Name:  </p>
    <%= u.name %>
  </div>
  <div class="flex items-center my-2">
    <p class="font-semibold text-lg text-left mr-2"> Last Name:   </p>
    <%= u.lastName %>
  </div>
  <div class="flex items-center my-2">
    <p class="font-semibold text-lg text-left mr-2"> Gender: </p>
    <%= u.gender %>
  </div>
  <div class="flex items-center my-2">
    <p class="font-semibold text-lg text-left mr-2"> Date Of Birth: </p>
    <%= u.date_of_birth %>
  </div>
  <div class="flex items-center my-2">
    <p class="font-semibold text-lg text-left mr-2"> Contact Number:   </p>
    <%= u.contact_number %>
  </div>
  <div class="flex items-center my-2">
    <p class="font-semibold text-lg text-left mr-2"> Email:  </p>
    <%= u.email %>
  </div>
  <div class="flex justify-leftS">

    <%= link_to edit_user_registration_path, class:" " do  %>
      <svg class="w-5 h-5 text-green-800 dark:text-white"
           aria-hidden="true"
           xmlns="http://www.w3.org/2000/svg"
           fill="currentColor"
           viewBox="0 0 20 18"
      >
        <path d="M12.687 14.408a3.01 3.01 0 0 1-1.533.821l-3.566.713a3 3 0 0 1-3.53-3.53l.713-3.566a3.01 3.01 0 0 1 .821-1.533L10.905 2H2.167A2.169 2.169 0 0 0 0 4.167v11.666A2.169 2.169 0 0 0 2.167 18h11.666A2.169 2.169 0 0 0 16 15.833V11.1l-3.313 3.308Zm5.53-9.065.546-.546a2.518 2.518 0 0 0 0-3.56 2.576 2.576 0 0 0-3.559 0l-.547.547 3.56 3.56Z"/>
        <path d="M13.243 3.2 7.359 9.081a.5.5 0 0 0-.136.256L6.51 12.9a.5.5 0 0 0 .59.59l3.566-.713a.5.5 0 0 0 .255-.136L16.8 6.757 13.243 3.2Z"/>
      </svg>
    <% end %>
    <%= link_to "Edit Profile", edit_user_registration_path,class:"font-semibold"  %>
  </div>
  <div class="mt-10">
    <p class="text-center font-bold text-2xl mb-3">
      <%= u.username %>'s Posts
      (<%= u.posts.count %>)
    </p>
    <ul class="mx-auto text-center divide-y-2 ">
      <% u.posts.reverse_each do |p| %>
        <li class="py-4">
          <div class="text-left">
            <div class="flex">
              <% if p.picture.attached? %>
                <%= image_tag p.picture, class: "h-96 rounded-3xl mb-6 grow" %>
              <% end %>
            </div>
            <div class="flex ">
              <div class="">
                <%= image_tag p.user.image, class: "w-16 h-16 rounded-full mr-6 " %>
              </div>
              <div class="flex-column">
                <div class="font-bold text-2xl">
                  <%= "#{p.user.name} #{p.user.lastName}"%>
                </div>
                <div>
                  <%= time_ago_in_words(p.created_at) %> ago
                </div>
              </div>
            </div>
            <div>
              <!-- Set max words per line for the title -->
              <h2 class="text-4xl font-bold text-black mb-3 mt-8 break-word"><%= p.title %></h2>
              <p class="text-base text-black line-clamp-2"><%= p.body %></p><br/>
              <%= link_to "Read More", post_path(p), class: "transition duration-300 text-green-500 hover:text-green-700 font-bold" %><br/>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

