
<h1>User Profile &nbsp;&nbsp; <%= link_to " Edit Profile ", edit_user_registration_path  %> </h1>
<% u = current_user %>

<h3> Profile Picture </h3>
<%= image_tag current_user.image, height: '300', width: '250'  %>
  <h3> First Name:&nbsp;  <%= u.name %></h3>
  <h3> Last Name:&nbsp;  <%= u.lastName %> </h3>
  <h3> Gender:&nbsp;  <%= u.gender %> </h3>
  <h3> Date Of Birth:&nbsp; <%= u.date_of_birth %> </h3>
  <h3> Contact Number:&nbsp;  <%= u.contact_number %> </h3>
  <h3> Email:&nbsp; <%= u.email %> </h3>


